
* {
    margin: 0;
    color: #334;
    font-family: sans-serif;
    cursor: url("/assets/cursor.png") 0 0, default;
}

::selection {
    background-color: #f002;
}

h3 {
    margin-top: .5em;
}
hr {
    margin-top: .5em;
    margin-bottom: .5em;
}

a {
    cursor: url("/assets/cursor-pointer.png") 2 2, pointer;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.tablecloth {
    --colour-cream: rgb(233, 222, 186);
    --colour-red: #f002;
    --size: 70px;
    position: fixed;
    inset: -200%;
    width: 500%;
    height: 500%;
    background-color: var(--colour-cream);
    background-image:
        repeating-linear-gradient(
            0deg,
            var(--colour-red),
            var(--colour-red) calc(var(--size) * 0.3),
            transparent calc(var(--size) * 0.3),
            transparent calc(var(--size) * 0.35),
            var(--colour-red) calc(var(--size) * 0.35),
            var(--colour-red) calc(var(--size) * 0.38),
            transparent calc(var(--size) * 0.38),
            transparent calc(var(--size) * 0.92),
            var(--colour-red) calc(var(--size) * 0.92),
            var(--colour-red) calc(var(--size) * 0.95),
            transparent calc(var(--size) * 0.95),
            transparent var(--size)
        ),
        repeating-linear-gradient(
            90deg,
            var(--colour-red),
            var(--colour-red) calc(var(--size) * 0.3),
            transparent calc(var(--size) * 0.3),
            transparent calc(var(--size) * 0.35),
            var(--colour-red) calc(var(--size) * 0.35),
            var(--colour-red) calc(var(--size) * 0.38),
            transparent calc(var(--size) * 0.38),
            transparent calc(var(--size) * 0.92),
            var(--colour-red) calc(var(--size) * 0.92),
            var(--colour-red) calc(var(--size) * 0.95),
            transparent calc(var(--size) * 0.95),
            transparent var(--size)
        );
    transform: rotate(30deg);
}

.container {
    width: 95%;
    max-width: 900px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    padding: .5em;
    background: rgba(245, 236, 215, 0.8);
    box-shadow: 0 0 20px #8444;
    margin-top: 1em;
    margin-bottom: 1em;
}

.banner {
    width: 100%;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.categories > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.categories > a > img {
    width: 20em;
    max-width: 90%;
    cursor: url("/assets/cursor-pointer.png") 2 2, pointer;
}
